
/* Section for heading */
.header {
    /* background-color: #F2F2F2; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.0)), url('../images/CLOUD2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Garamond, serif;
    letter-spacing: 1em;
    font-weight: bold;
}

.header h1 {
    color: white;
}

.description {
    text-align: justify;
    text-justify: inter-word;
    font-family: Georgia, serif;
}

.error {
    color: #EE7373;
}

.loadingButton {
    display: none;
}

.forecast {
    display: none;
    font-family: Georgia, serif;
}

.dataNotFoundDiv {
    display: none;
}