
/* Section for heading */
.header {
    background-color: #F2F2F2;
    font-family: Garamond, serif;
    letter-spacing: 1em;
    font-weight: bold;
}

.description {
    text-align: justify;
    text-justify: inter-word;
    font-family: Georgia, serif;
}

.error {
    color: #EE7373;
}

.loadingButton {
    display: none;
}

.forecast {
    display: none;
    font-family: Georgia, serif;
}

.dataNotFoundDiv {
    display: none;
}